:80 {
    handle /admin/api/* {
        uri strip_prefix /admin
        reverse_proxy admin-backend:3001
    }
    @admin path /admin /admin/*
    handle @admin {
        uri strip_prefix /admin
        reverse_proxy admin-frontend:80
    }
    handle /api/* {
        reverse_proxy app-backend:3002
    }
    @apidocs path /api-docs /api-docs/*
    handle @apidocs {
        reverse_proxy app-backend:3002
    }
    handle {
        reverse_proxy app-frontend:80
    }
}
